@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}





header{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}

/* nav part */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

nav ul{
    display: flex;
    gap: 48px;
    
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    
}

.home a{
    font-weight: bold;
    color: #252432;
}

.shop a{
    color: #8987A1;
}

.us a{
    color: #8987A1;
}

/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-title{
    font-size: 4.06rem;  
    margin-bottom: 0;
}

.header-title1{
    font-size: 4.06rem;
    margin-top: 0;
}


.header-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
   
}



.free{
    color: #E95A08;
}

/* our plant */

.our-plants{
    max-width: 1140px;
    margin: 0 auto;
}

.plant-container{
    text-align: center;
    margin-bottom: 49px;
}

.plant-title{
    font-size: 3.125rem;
    margin-bottom: 0;
}

.plant-description{
    font-size: 1.375rem;   
    color: rgba(0, 0, 0, 0.5);
}

/* card part */

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 210.13px;
}

.card{
    width: 270px;
    text-align: center;
    
}

.card-img{
        width: 100%;
    }

.card-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin-bottom: 0;
}

.card-price{
    font-size: 1.357rem;
    font-weight: bold;
    color: #111111;
    margin-top: 20px;
}

.card-button{
    width: 100%;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 80px 19px 80px;
    font-weight: 600;
    border: none;
}


/* flower plant-lover */

.flower-lover{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    justify-items: center;
    align-items: center;
    margin-bottom: 133.87px;
}

.badge{
    width: 286px;
    position: absolute;
    left: 347px;
    bottom: 438px;
    
}

.flower-lover-img{
    position: relative;
}


.flower-lover-title{
    font-size: 3.125rem;

}

.first-p{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Latest deals */
.deals-container{
    max-width: 1140px;
    margin: 0 auto;
}

.deals{
    text-align: center;
}

.deals-title{
    font-size: 3.125rem;
    margin-bottom: 0;
}

.deals-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.deals-img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    width: 366.22px;
    height: 200px;
    border-radius: 8px;
    
}

.deals-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    width: 366.22px;
    height: 200px;
    border-radius: 8px;
}
.deals-img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    width: 753px;
    border-radius: 8px;
}

.deals-img-title{
    color: #FFFFFF;
    font-size: 1.25rem;
    padding-top: 65px;
    padding-left: 70px;
    
}

.link a{
     color: #FFFFFF;
}
.link{
    padding-bottom: 83px;
    padding-left: 144.5px;
    font-weight: 600;
   
}

.deals-img-title3{
    font-size: 2.5rem;
    color: #FFFFFF;
    padding-top: 172.12px;
    padding-left: 190px;
    
}

.link-3 a{
    color: #FFFFFF;
}

.link-3{
    font-size: 1.75rem;
    padding-left: 280px;
    padding-bottom: 120px;
}

.bloom-ana-zabo{
    display: flex;
    align-items: center;
    gap: 28px;
}

/* Join bunch section */

.join-bunch{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bunch-title{
    /* padding: 199px 429px 0 429px; */
    font-size: 3.125rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 199px;
}

.bunch-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 193px;
    gap: 0;
}



.bunch-e{
    width: 644px;
    height: 50px;
    padding-left: 20px;
    border: none;
}



.bunch-b{
    padding: 19px 53.5px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
}


/* Footer  */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}

.footer-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-link a{
    text-decoration: none;
    
    color: #6B7280;
    
}
.footer-link{
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.footer-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
}


/* responsive */
@media screen and (max-width:576px) {
    .home, .shop, .us, .badge{
        display: none;
    }

    .hero{
        
        flex-direction: column-reverse;
       
    }
    .header-img{
        width: 100%;
    }

    .header-title{
    font-size: 1.5rem; 
    }

    .header-title1{
    font-size: 1.5rem;
    }

    .header-description{
    font-size: 0.875rem;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    

    .card{
        width: 100%;
    }

    .card-button{
        padding: 19px 30px 19px 30px;
    }

    .flower-lover{
        flex-direction: column;
    }
    
    .flower-lover-img1{
        width: 100%;
    }

    .bloom-ana-zabo {
    flex-direction: column;
    align-items: center;
  }

  .deals-img-container {
    width: 100%;
    
  }

  .deals-img-container3 {
    width: 100%;
  }

  .deals-img1,.deals-img2,.deals-img3 {
    max-width: 366px;
    width: 100%;
    height: 200px; 
  }

  .deals-img-title,.deals-img-title3 {
    font-size: 1rem;
    padding-left: 90px;
    padding-top: 70px;
  }

  .link, .link-3 {
    padding-left: 120px;
    padding-bottom: 20px;
    font-size: 1rem;
  }


.join-bunch{
    height: 276px;
}
  .bunch-container{
    padding-left: 30px;
  }

  .bunch-title{
    padding-top: 110px;
    font-size: 1.25rem;
  }

  .bunch-e{
    width: 55%;
  }
  .bunch-b{
    width: 45%;
    padding: 19px 12px;
    margin-right: 36px;
  }

  .footer-container{
    flex-direction: column;
    padding: 50px 14px 50px 20px;
    gap: 20px;
  }

}
